*{
    margin: 0;
    padding: 0;
}

body{
    color: #183A37;
    background-color: #E5D1D0;
    font-family: sans-serif;
}

.container {
    margin: auto auto;
    width: 800px;
}

h1, h2 {
    margin-bottom: 15px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
ul, ol, p {
    line-height: 20px;
    padding: 12px;
    text-justify: auto;
    font-size: 16px;
}

ul > li {
    padding: 10px;
    /* list-style: none; */
}

ol > li {
    margin-bottom: 20px;
}

.home {
    color: #183A37;
    background-color: white;
    text-decoration: none;
    padding: 5px 5px;
    border: 3px solid black;
}

.home:hover {
    background-color: black;
    text-decoration: underline;
    color: white;
}