* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
background-color: #3A445D;
font-family: sans-serif;
}

h1 {
    color: #FCDEBE;
}

.recipes{
    border: 4px solid #FF7477;
    width: 400px;
    margin: auto;
    list-style: none;
}

a{
    text-decoration:none;
    color: #FCDEBE;
    cursor: pointer;
    font-size: 18px;
}
a:hover {
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    background-color: #FF7477;
    text-decoration: underline;
}

img{
    margin-bottom: 30px;
}